html, body, p{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 10pt;
}

#clustertext{
  background-color: white;
  position: absolute;
  width: 390px;
  opacity: 0.8;
  padding: 10px;
  white-space: nowrap;
  overflow: scroll;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 10pt;
}
