<!DOCTYPE html>
<html>
  <head>
    <title>Test Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>Create a new post</h2>
    <form method="POST" action="/testcreate">
      <div>
        <textarea rows=10 cols=60 name="message" placeholder="Message">{"responseId":"c2e6973b-1533-4401-8c6d-c5741ed9b39b", "queryResult":{"queryText":"Create board with stones Moana and Frozen","parameters":{"any":["stones fred and flinstone"],"Board":"board"}}}</textarea>
      </div>
      <div>
        <button type="submit">Update board</button>
      </div>
    </form>
  </body>
</html>
