<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>accel</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/three.min.js"></script>
    <script src="lib/GLTFLoader.js"></script>
    <script src="lib/jquery/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="sketch_three.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <div style="display:none" id="boundtext">
    </div>
  </body>
</html>
